<div id="social-media">
  <div class="social-title-container">
    <div class="social-title">Social Media</div>
  </div>
  <div class="social-container">
    <a href="https://www.facebook.com/niallbellcom" target="_blank">
      <img src="https://image.flaticon.com/icons/svg/124/124010.svg" width="20" height="20" alt="Facebook">
    </a>
    <a href="https://www.instagram.com/niallbellcom/" target="_blank">
      <img src="https://image.flaticon.com/icons/svg/174/174855.svg" width="20" height="20" alt="Instagram">
  </div>
</div>


