<br>
<div id="social-media">
  <div class="social-title-container">
    <div class="social-title">Social Media</div>
  </div>
  <div class="social-container">
    <a href="https://www.facebook.com/niallbellcom" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" width="20" height="20" alt="Facebook">
    </a>
    <a href="https://www.instagram.com/niallbellcom/" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" width="20" height="20" alt="Instagram">
    </a>
  </div>
</div>



