<script src="https://giscus.app/client.js"
        data-repo="NiallxD/NatureWithNiall"
        data-repo-id="R_kgDOLrJVAA"
        data-category="Announcements"
        data-category-id="DIC_kwDOLrJVAM4CfTp0"
        data-mapping="url"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>