<script>
    window.onload = function() {
    // Find the h1 element
    const h1 = document.querySelector("h1");

    // Insert the new paragraph after the h1
    h1.insertAdjacentHTML('afterend', '<p id="reading-time"></p>');
    }
</script>
