body {
  --note-icon-1: url(/img/user/98 - Media/notebook-pen.svg);
  --note-icon-2: url(/img/tree-2.svg);
  --note-icon-3: url(/img/tree-3.svg);
  --note-icon-fallback: url(/img/default-note-icon.svg);
}

#floating-control {
  position: fixed;
  color: var(--link-color);
  bottom: 1vmax;
  right: 1vmax;
  font-size: 24px;
  z-index: 999999;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;

  .svg-icon,
  i {
      cursor: pointer;
      height: 24px;
      width: auto;
  }

  #theme-switch {
      .light {
          display: none;
      }

      .dark {
          display: none;
      }

      .auto {
          display: none;
      }
  }

  #theme-switch.light {
      .light {
          display: inline;
      }
  }

  #theme-switch.dark {
      .dark {
          display: inline;
      }
  }

  #theme-switch.auto {
      .auto {
          display: inline;
      }
  }
}
}

    nav.navbar {
        top: 10px;
        right: 10px;
        left: 10px;
        width: calc(100% - 20px);
        border-radius: 10px;
        border: var(--cards-border-width) solid var(--background-modifier-border);
        z-index: 99999;
        .navbar-inner {
            h1::before {
                content: " ";
                display: inline-block;
                width: 1em;
                height: 1.2em;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(/98 - Media/Logo.svg);
                margin-right: 5px;
                background-position: bottom;
            }
